@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Define the background color of the scrollbar track */
::-webkit-scrollbar-track {
  @apply bg-[#242424];
}

/* Define the color and style of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-gray-700;
}

/* Define the behavior of the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
